:root {
  --pobo-font-family: var(--template-font);

  --pobo-citation-font-family: Georgia, "Times New Roman", Times, serif;
  --pobo-container-max-width: 1400px;

  --pobo-all-content-padding: 0;
  --pobo-all-content-margin: 0;
  --pobo-all-content-background: none;

  --pobo-typo-h2-font-size: 25px;
  --pobo-typo-h2-font-family: var(--pobo-font-family);
  --pobo-typo-h2-line-height: 30px;
  --pobo-typo-h2-font-weight: 600;
  --pobo-typo-h2-font-color: #0c0c0c;
  --pobo-typo-h2-padding: 0;
  --pobo-typo-h2-margin: 0 0 20px 0;

  --pobo-typo-h2-before-content: none;
  --pobo-typo-h2-before-bottom: -10px;
  --pobo-typo-h2-before-left: 0;
  --pobo-typo-h2-before-width: 200px;
  --pobo-typo-h2-before-height: 2px;
  --pobo-typo-h2-before-bg: #eaeaea;

  --pobo-typo-h3-font-size: 22px;
  --pobo-typo-h3-font-family: var(--pobo-font-family);
  --pobo-typo-h3-line-height: 25px;
  --pobo-typo-h3-font-weight: 600;
  --pobo-typo-h3-font-color: #0c0c0c;
  --pobo-typo-h3-padding: 0;
  --pobo-typo-h3-margin: 0 0 20px 0;

  --pobo-typo-h3-before-content: none;
  --pobo-typo-h3-before-bottom: -10px;
  --pobo-typo-h3-before-left: 0;
  --pobo-typo-h3-before-width: 200px;
  --pobo-typo-h3-before-height: 2px;
  --pobo-typo-h3-before-bg: #eaeaea;

  --pobo-typo-h4-font-size: 20px;
  --pobo-typo-h4-font-family: var(--pobo-font-family);
  --pobo-typo-h4-line-height: 24px;
  --pobo-typo-h4-font-weight: 600;
  --pobo-typo-h4-font-color: #0c0c0c;
  --pobo-typo-h4-padding: 0;
  --pobo-typo-h4-margin: 0 0 20px 0;

  --pobo-typo-p-font-size: 18px;
  --pobo-typo-p-font-weight: normal;
  --pobo-typo-p-font-color: #0c0c0c;
  --pobo-typo-p-line-height: 25px;
  --pobo-typo-p-padding: 0;
  --pobo-typo-p-margin: 0 0 20px 0;
  --pobo-typo-p-strong-font-weight: 600;

  --pobo-typo-table-padding: 0;
  --pobo-typo-table-margin: 0;
  --pobo-typo-table-border-collapse: collapse;
  --pobo-typo-table-border: 0;
  --pobo-typo-table-bg: none;
  --pobo-typo-table-tr-border-bottom: 0;
  --pobo-typo-table-td-border-bottom: 0;
  --pobo-typo-table-td-padding: 6px 2px;
  --pobo-typo-table-td-margin: 0;
  --pobo-typo-table-td-font-size: 14px;
  --pobo-typo-table-td-bg: none;


  --pobo-typo-list-padding: 0;
  --pobo-typo-list-margin: 0 0 20px 20px;
  --pobo-typo-list-item-padding: 0;
  --pobo-typo-list-item-font-size: 18px;
  --pobo-typo-list-item-font-family: var(--pobo-font-family);
  --pobo-typo-list-item-font-weight: 400;
  --pobo-typo-list-item-font-color: #0c0c0c;
  --pobo-typo-list-item-margin: 0 0 10px 0;

  --pobo-standard-table-td-font-size: 14px;
  --pobo-standard-table-td-font-color: #0c0c0c;
  --pobo-standard-table-td-padding: 6px 2px;
  --pobo-standard-table-tr-even-bg: #f6f6f6;
  --pobo-standard-table-tr-border-bottom: 1px solid #dcdcdc;
  --pobo-standard-table-tr-hover-bg: transparent;

  --pobo-link-color: #0c0c0c;
  --pobo-link-transition: color .3s ease-in-out;
  --pobo-link-outline: none;
  --pobo-link-text-decoration: none;
  --pobo-link-hover-color: #0c0c0c;
  --pobo-link-hover-text-decoration: underline;

  --pobo-gallery-bg: none;
  --pobo-gallery-box-shadow: none;
  --pobo-gallery-border-radius: none;
  --pobo-gallery-border-color: none;

  --pobo-gallery-img-border: 0px;
  --pobo-gallery-img-border-radius: 0px;
  --pobo-gallery-img-box-shadow: none;
  --pobo-gallery-img-padding: 0px;
  --pobo-gallery-img-bg: none;
  --pobo-gallery-img-margin: 0px;

  --pobo-gallery-image-title-text-align: center;
  --pobo-gallery-image-title-font-size: 13px;
  --pobo-gallery-image-title-line-height: 15px;
  --pobo-gallery-image-title-font-weight: 300;
  --pobo-gallery-image-title-font-color: #6c6c6c;
  --pobo-gallery-image-title-padding: 10px 0;
  --pobo-gallery-image-title-margin: 0;
  --pobo-gallery-image-title-bg: none;
  --pobo-gallery-image-title-box-shadow: none;
  --pobo-gallery-image-title-border-radius: none;
  --pobo-gallery-image-title-border: none;

  --pobo-btn-bg: linear-gradient(to right, #a3efc7, #74e18b);
  --pobo-btn-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  --pobo-btn-border: 0px;
  --pobo-btn-color: #3f3f3f;
  --pobo-btn-hover-bg: linear-gradient(to right, #96eabe, #53c96c);
  --pobo-btn-hover-text-color: #000000;
  --pobo-btn-padding: 0 15px;
  --pobo-btn-margin: 0 0 0 0;
  --pobo-btn-font-size: 14px;
  --pobo-btn-line-height: 34px;
  --pobo-btn-font-weight: 400;
  --pobo-btn-border-radius: 5px;
  --pobo-btn-transition: 0.3s;

  --pobo-global-widget-padding: 40px 0;
  --pobo-global-widget-margin: 0px auto;
  --pobo-global-widget-max-width: 1200px;

  --pobo-widget-container-author-bg: transparent;
  --pobo-widget-container-author-border-color: transparent;

  --pobo-inline-content-image-width: 70px;
  --pobo-inline-content-image-max-width: 80px;

  --pobo-inline-image-content-bg: none;
  --pobo-inline-image-content-border-radius: 0;
  --pobo-inline-image-content-padding: 0;
  --pobo-inline-image-content-margin: 0;
  --pobo-inline-image-content-box-shadow: none;
  --pobo-inline-image-content-border: none;
  --pobo-inline-image-single-margin: 0 20px;
  --pobo-inline-image-single-padding: 12px 10px;
  --pobo-inline-image-wrap-gap: 20px;
  --pobo-inline-image-content-gap: 20px;
  --pobo-inline-image-wrap-gap-md: 50px;

  --pobo-inline-sec-image-width: 70px;
  --pobo-inline-sec-image-min-width: 80px;
  --pobo-inline-sec-image-border-radius: 0;
  --pobo-inline-sec-image-border: none;

  --pobo-inline-image-bg: none;
  --pobo-inline-image-box-shadow: none;
  --pobo-inline-image-border-radius: none;
  --pobo-inline-image-border: none;

  --pobo-inline-image-title-font-color: #333;
  --pobo-inline-image-title-font-size: 18px;
  --pobo-inline-image-title-line-height: 24px;
  --pobo-inline-image-title-padding: 0 0 8px 0;
  --pobo-inline-image-title-margin: 0;
  --pobo-inline-image-title-box-shadow: none;
  --pobo-inline-image-title-border-radius: 0;
  --pobo-inline-image-title-border: none;
  --pobo-inline-image-title-font-weight: 600;

  --pobo-inline-image-sub-title-font-color: #575757;
  --pobo-inline-image-sub-title-font-size: 13px;
  --pobo-inline-image-sub-title-line-height: 16px;
  --pobo-inline-image-sub-title-padding: 0;
  --pobo-inline-image-sub-title-margin: 0;
  --pobo-inline-image-sub-title-bg: none;
  --pobo-inline-image-sub-title-border: none;
  --pobo-inline-image-sub-title-box-shadow: none;
  --pobo-inline-image-sub-title-border-radius: 0;

  --pobo-inline-image-wrap-content: 20px;

  --pobo-parameter-big-right-padding: 0px 0;
  --pobo-parameter-big-right-margin: 0px 0;
  --pobo-parameter-big-right-align-items: center;
  --pobo-parameter-big-right-icon-size: 70px;
  --pobo-parameter-big-right-icon-border: none;
  --pobo-parameter-big-right-icon-border-radius: none;
  --pobo-parameter-big-right-icon-box-shadow: none;
  --pobo-parameter-big-right-icon-bg: none;
  --pobo-parameter-big-right-content-order: 1;
  --pobo-parameter-big-right-content-padding: 0 0 0 15px;
  --pobo-parameter-big-right-icon-align-items: center;
  --pobo-parameter-big-right-icon-justify-content: center;
  --pobo-parameter-big-right-info-font-weight: 600;

  --pobo-parameter-big-right-info-margin: 0 0 5px 0;
  --pobo-parameter-big-right-info-font-color: #000000;
  --pobo-parameter-big-right-info-text-align: left;

  --pobo-parameter-big-right-value-font-weight: 18px;
  --pobo-parameter-big-right-value-font-color: #575757;
  --pobo-parameter-big-right-value-font-size: 15px;
  --pobo-parameter-big-right-value-text-align: left;

  --pobo-parameter-big-padding: 0px 0;
  --pobo-parameter-big-margin: 2px 0;

  --pobo-parameter-small-left-icon-size: 55px;
  --pobo-parameter-small-left-icon-border: none;
  --pobo-parameter-small-left-icon-border-radius: none;
  --pobo-parameter-small-left-icon-box-shadow: none;
  --pobo-parameter-small-left-icon-bg: none;
  --pobo-parameter-small-left-padding: 2px 0;
  --pobo-parameter-small-left-margin: 2px 0;
  --pobo-parameter-small-left-bg: none;
  --pobo-parameter-small-left-box-shadow: none;
  --pobo-parameter-small-left-border-radius: none;
  --pobo-parameter-small-left-value-font-size: 14px;
  --pobo-parameter-small-left-text-align: right;
  --pobo-parameter-small-left-value-font-color: black;
  --pobo-parameter-small-left-value-font-weight: 400;
  --pobo-parameter-small-left-value-margin: 4px 0 0 0;
  --pobo-parameter-small-left-value-padding: 0;
  --pobo-parameter-small-left-info-font-size: 17px;
  --pobo-parameter-small-left-info-text-align: right;
  --pobo-parameter-small-left-info-font-color: #0c0c0c;
  --pobo-parameter-small-left-info-font-weight: 600;
  --pobo-parameter-small-left-info-margin: 0;
  --pobo-parameter-small-left-icon-align-items: center;
  --pobo-parameter-small-left-icon-justify-content: center;
  --pobo-parameter-small-left-content-order: 0;
  --pobo-parameter-small-left-content-padding: 0 10px 0 0;

  --pobo-parameter-small-right-icon-size: 55px;
  --pobo-parameter-small-right-icon-border: none;
  --pobo-parameter-small-right-icon-border-radius: none;
  --pobo-parameter-small-right-icon-box-shadow: none;
  --pobo-parameter-small-right-icon-bg: none;
  --pobo-parameter-small-right-padding: 2px 0;
  --pobo-parameter-small-right-margin: 2px 0;
  --pobo-parameter-small-right-bg: none;
  --pobo-parameter-small-right-box-shadow: none;
  --pobo-parameter-small-right-border-radius: none;
  --pobo-parameter-small-right-value-font-size: 14px;
  --pobo-parameter-small-right-text-align: left;
  --pobo-parameter-small-right-value-font-color: black;
  --pobo-parameter-small-right-value-font-weight: 400;
  --pobo-parameter-small-right-value-margin: 4px 0 0 0;
  --pobo-parameter-small-right-value-padding: 0;
  --pobo-parameter-small-right-info-font-size: 17px;
  --pobo-parameter-small-right-info-text-align: left;
  --pobo-parameter-small-right-info-font-color: #0c0c0c;
  --pobo-parameter-small-right-info-font-weight: 600;
  --pobo-parameter-small-right-info-margin: 0;
  --pobo-parameter-small-right-icon-align-items: center;
  --pobo-parameter-small-right-icon-justify-content: center;
  --pobo-parameter-small-right-content-order: 0;
  --pobo-parameter-small-right-content-padding: 0 0 0 10px;


  --pobo-parameter-header-text-align: right;
  --pobo-parameter-header-font-size: 22px;
  --pobo-parameter-header-font-color: #0c0c0c;
  --pobo-parameter-header-font-weight: 600;
  --pobo-parameter-header-margin: 0 0 50px 0;
  --pobo-parameter-header-padding: 0;
  --pobo-parameter-image-padding: 10px 20px 10px 10px;
  --pobo-parameter-image-left-padding: 10px 10px 10px 20px;
  --pobo-parameter-image-big-padding: 20px 20px 20px 40px;
  --pobo-parameter-header-left-font-size: 22px;
  --pobo-parameter-header-left-align: left;
  --pobo-parameter-header-left-margin: 0 0 25px 0;
  --pobo-parameter-header-left-padding: 0 0 0 10px;
  --pobo-parameter-header-left-font-weight: 600;

  --pobo-parameter-big-value-font-size: 15px;
  --pobo-parameter-big-value-font-color: #575757;

  --pobo-parameter-big-info-font-size: 18px;
  --pobo-parameter-big-info-font-color: black;

  --pobo-advantages-bg: none;
  --pobo-advantages-box-shadow: none;
  --pobo-advantages-border-radius: none;
  --pobo-advantages-flex-wrap: nowrap;
  --pobo-advantages-gap: 0;
  --pobo-advantages-title-font-size: 18px;
  --pobo-advantages-title-line-height: 24px;
  --pobo-advantages-title-font-color: #383838;
  --pobo-advantages-title-font-weight: 600;
  --pobo-advantages-title-padding: 0;
  --pobo-advantages-title-margin: 20px 0 10px 0;

  --pobo-advantages-two-title-font-size: 22px;
  --pobo-advantages-two-title-line-height: 24px;
  --pobo-advantages-two-title-font-color: #252525;
  --pobo-advantages-two-title-font-weight: 600;

  --pobo-advantages-two-info-font-size: 16px;
  --pobo-advantages-two-info-line-height: 20px;
  --pobo-advantages-two-info-font-weight: 400;

  --pobo-advantages-three-title-font-size: 22px;
  --pobo-advantages-three-title-line-height: 24px;
  --pobo-advantages-three-title-font-weight: 600;

  --pobo-advantages-three-info-font-size: 14px;
  --pobo-advantages-three-info-line-height: 20px;
  --pobo-advantages-three-info-font-weight: 400;

  --pobo-advantages-four-title-font-size: 18px;
  --pobo-advantages-four-title-line-height: 24px;
  --pobo-advantages-four-title-font-weight: 600;

  --pobo-advantages-four-info-font-size: 13px;
  --pobo-advantages-four-info-line-height: 17px;
  --pobo-advantages-four-info-font-weight: 400;

  --pobo-advantages-item-padding: 0 10px;
  --pobo-advantages-item-border: none;
  --pobo-advantages-item-bg: none;
  --pobo-advantages-item-box-shadow: none;
  --pobo-advantages-item-border-radius: none;
  --pobo-advantages-item-margin: 0;

  --pobo-advantages-info-font-size: 14px;
  --pobo-advantages-info-line-height: 18px;
  --pobo-advantages-info-font-color: #575757;
  --pobo-advantages-info-font-weight: 400;
  --pobo-advantages-info-padding: 10px 0 0 0;
  --pobo-advantages-info-margin: 0;

  --pobo-advantages-ico-container-bg: white;
  --pobo-advantages-ico-container-margin: 0 0 20px 0;
  --pobo-advantages-ico-container-box-shadow: none;
  --pobo-advantages-ico-container-border-radius: 0;
  --pobo-advantages-ico-container-height: 150px;
  --pobo-advantages-ico-container-padding: 0;
  --pobo-advantages-ico-container-width: 100%;
  --pobo-advantages-ico-container-img-max-height: 150px;
  --pobo-advantages-ico-container-img-max-width: 100%;

  --pobo-advantages-ico-container-img-box-shadow: none;
  --pobo-advantages-ico-container-img-bg: none;
  --pobo-advantages-ico-container-img-border-radius: 0;
  --pobo-advantages-ico-container-img-border-color: none;

  --pobo-profit-bg: none;
  --pobo-profit-box-shadow: none;
  --pobo-profit-border-radius: none;
  --pobo-inline-border-radius: none;

  --pobo-profit-list-header-font-size: 18px;
  --pobo-profit-list-header-line-height: 20px;
  --pobo-profit-list-header-font-weight: 500;
  --pobo-profit-list-header-font-color: #0c0c0c;
  --pobo-profit-list-header-padding: 0;
  --pobo-profit-list-header-margin: 0 0 2px 0;

  --pobo-profit-header-padding: 0;
  --pobo-profit-header-margin: 0 0 10px 0;
  --pobo-profit-header-font-size: 25px;
  --pobo-profit-header-line-height: 30px;
  --pobo-profit-header-font-weight: 600;
  --pobo-profit-header-font-color: #0c0c0c;


  --pobo-list-info-font-size: 12px;
  --pobo-list-info-line-height: 16px;
  --pobo-list-info-font-color: #282828;
  --pobo-list-info-font-weight: 400;
  --pobo-list-info-padding: 0;
  --pobo-list-info-margin: 4px 0 0 0;

  --pobo-profit-list-item-padding: 10px 0;
  --pobo-profit-list-item-display: flex;
  --pobo-profit-list-item-align-items: center;
  --pobo-profit-list-item-margin: 0;
  --pobo-profit-list-item-bg: none;
  --pobo-profit-list-item-box-shadow: none;
  --pobo-profit-list-item-border-radius: none;
  --pobo-profit-list-item-border: none;

  --pobo-profit-list-ico-display: flex;
  --pobo-profit-list-ico-size: 30px;

  --pobo-profit-list-padding: 10px 30px;
  --pobo-profit-list-margin: 20px 0;
  --pobo-profit-list-bg: none;
  --pobo-profit-list-box-shadow: none;
  --pobo-profit-list-border-radius: none;
  --pobo-profit-list-border: none;

  --pobo-profit-list-container-padding: 10px;
  --pobo-profit-list-container-margin: 0;
  --pobo-profit-list-container-bg: none;
  --pobo-profit-list-container-box-shadow: none;
  --pobo-profit-list-container-border-radius: none;
  --pobo-profit-list-container-border-color: none;

  --pobo-image-img-bg: none;
  --pobo-image-img-padding: 0;
  --pobo-image-img-margin: 0;
  --pobo-image-img-border-radius: 0;
  --pobo-image-img-box-shadow: none;
  --pobo-image-img-border-color: none;
  --pobo-image-img-mix-blend-mode: unset;
  --pobo-image-img-object-fit: cover;


  --pobo-video-left-video-padding: 0;
  --pobo-video-left-video-margin: 0;
  --pobo-video-left-video-border-radius: 0;
  --pobo-video-left-video-border: none;
  --pobo-video-left-video-box-shadow: none;

  --pobo-video-left-box-bg: none;
  --pobo-video-left-box-padding: 0 0 0 40px;
  --pobo-video-left-box-margin: 0;
  --pobo-video-left-box-border-radius: 0;
  --pobo-video-left-text-align: left;

  --pobo-video-right-video-padding: 0;
  --pobo-video-right-video-margin: 0;
  --pobo-video-right-video-border-radius: 0;
  --pobo-video-right-video-border: none;
  --pobo-video-right-video-box-shadow: none;

  --pobo-video-right-box-bg: none;
  --pobo-video-right-box-padding: 0 40px 0 0;
  --pobo-video-right-box-margin: 0;
  --pobo-video-right-box-border-radius: 0;
  --pobo-video-right-text-align: left;


  --pobo-video-half-left-video-padding: 0;
  --pobo-video-half-left-video-margin: 0;
  --pobo-video-half-left-video-border-radius: 0;
  --pobo-video-half-left-video-border: none;
  --pobo-video-half-left-video-box-shadow: none;

  --pobo-video-half-left-box-bg: none;
  --pobo-video-half-left-box-padding: 0 0 0 40px;
  --pobo-video-half-left-box-margin: 0;
  --pobo-video-half-left-box-border-radius: 0;
  --pobo-video-half-left-text-align: left;


  --pobo-video-half-right-video-padding: 0;
  --pobo-video-half-right-video-margin: 0;
  --pobo-video-half-right-video-border-radius: 0;
  --pobo-video-half-right-video-border: none;
  --pobo-video-half-right-video-box-shadow: none;

  --pobo-video-half-right-box-bg: none;
  --pobo-video-half-right-box-padding: 0 40px 0 0;
  --pobo-video-half-right-box-margin: 0;
  --pobo-video-half-right-box-border-radius: 0;
  --pobo-video-half-right-text-align: left;


  --pobo-gallery-trigger-before-hover-bg: rgba(255, 255, 255, 0.13) url("https://pobo-cdn.b-cdn.net/static/handler.svg");
  --pobo-gallery-trigger-before-hover-bg-size: 50px 50px;
  --pobo-gallery-trigger-before-hover-bg-repeat: no-repeat;
  --pobo-gallery-trigger-before-hover-bg-position: center center;
  --pobo-gallery-trigger-before-hover-display: block;
  --pobo-gallery-trigger-before-hover-opacity: 1;
  --pobo-gallery-trigger-before-transition: opacity 0.150s ease-in-out;


  --pobo-image-bg: transparent;
  --pobo-image-box-shadow: none;
  --pobo-image-border-color: none;

  --pobo-image-photo-width: 50%;
  --pobo-image-text-width: 50%;
  --pobo-image-padding-sm: 20px 0;
  --pobo-image-photo-padding: 0 30px 0 0;
  --pobo-image-photo-text-align: left;
  --pobo-image-photo-padding-sm: 30px 0 0;
  --pobo-image-text-padding: 0 0 0 30px;

  --pobo-counter-bg: none;
  --pobo-counter-box-shadow: none;
  --pobo-counter-border-radius: none;
  --pobo-counter-border: none;
  --pobo-counter-overlay-bg: rgb(0 0 0 / 50%);
  --pobo-counter-padding: 80px 0;

  --pobo-counter-header-font-size: 26px;
  --pobo-counter-header-line-height: 30px;
  --pobo-counter-header-font-weight: 600;
  --pobo-counter-header-font-color: #fff;
  --pobo-counter-header-padding: 0 0 5px;
  --pobo-counter-header-margin: 0;
  --pobo-counter-header-text-shadow: 1px 1px 1px #000;

  --pobo-counter-header-half-font-size: 38px;
  --pobo-counter-header-half-line-height: 30px;
  --pobo-counter-header-half-font-weight: 600;
  --pobo-counter-header-half-font-color: #fff;
  --pobo-counter-header-half-padding: 0 0 5px;
  --pobo-counter-header-half-margin: 0;
  --pobo-counter-header-half-text-shadow: 1px 1px 1px #000;

  --pobo-counter-info-font-size: 18px;
  --pobo-counter-info-line-height: 22px;
  --pobo-counter-info-font-weight: 400;
  --pobo-counter-info-font-color: #fff;
  --pobo-counter-info-padding: 0;
  --pobo-counter-info-margin: 0;
  --pobo-counter-info-text-shadow: 1px 1px 1px #000;
  --pobo-counter-medium-font-size: 18px;
  --pobo-counter-inner-padding: 25px;
  --pobo-counter-inner-border-radius: 10px;

  --pobo-image-overlay-bg: #f6f6f6;
  --pobo-image-overlay-bg-after: #5b5b5b;
  --pobo-image-overlay-bg-opacity: 0.06;
  --pobo-image-overlay-font-family: "Tahoma, sans-serif";

  --pobo-text-in-image-bg: transparent;
  --pobo-text-in-image-border: none;
  --pobo-text-in-image-box-shadow: none;
  --pobo-text-in-image-overlay-bg: rgba(0, 0, 0, 0.62);
  --pobo-image-overlay-text-padding: 50px;
  --pobo-text-in-image-overlay-blur: blur(1px);

  --pobo-text-in-image-single-top-content-bg: none;
  --pobo-text-in-image-top-single-content-backdrop: blur(1px);

  --pobo-text-in-image-single-top-content-font-size: 34px;
  --pobo-text-in-image-single-top-content-line-height: 35px;
  --pobo-text-in-image-single-top-content-font-weight: 600;
  --pobo-text-in-image-single-top-content-font-color: #333;
  --pobo-text-in-image-single-top-content-padding: 30px;
  --pobo-text-in-image-single-top-content-margin: 0 auto;
  --pobo-text-in-image-single-top-content-text-shadow: none;


  --pobo-text-in-image-single-top-header-font-family: var(--pobo-font-family);
  --pobo-text-in-image-single-top-header-font-size: 34px;
  --pobo-text-in-image-single-top-header-line-height: 35px;
  --pobo-text-in-image-single-top-header-font-weight: 600;
  --pobo-text-in-image-single-top-header-font-color: #333;
  --pobo-text-in-image-single-top-header-padding: 0;
  --pobo-text-in-image-single-top-header-margin: 0 0 10px 0;
  --pobo-text-in-image-single-top-header-text-shadow: none;


  --pobo-text-in-image-single-top-text-font-family: var(--pobo-font-family);
  --pobo-text-in-image-single-top-text-font-size: 16px;
  --pobo-text-in-image-single-top-text-line-height: 22px;
  --pobo-text-in-image-single-top-text-font-weight: 400;
  --pobo-text-in-image-single-top-text-font-color: #333;
  --pobo-text-in-image-single-top-text-padding: 0;
  --pobo-text-in-image-single-top-text-margin: 10px 0 0 0;
  --pobo-text-in-image-single-top-text-shadow: none;


  --pobo-text-in-image-single-content-box-shadow: none;
  --pobo-text-in-image-single-content-max-width: var(--pobo-container-max-width);
  --pobo-text-in-image-single-header-font-size: 34px;
  --pobo-text-in-image-single-header-line-height: 35px;
  --pobo-text-in-image-single-header-font-weight: 600;
  --pobo-text-in-image-single-header-font-color: #fff;
  --pobo-text-in-image-single-header-padding: 0;
  --pobo-text-in-image-single-header-margin: 0 0 10px 0;
  --pobo-text-in-image-single-header-text-shadow: 1px 1px 1px #282828;
  --pobo-text-in-image-single-content-padding: 30px;
  --pobo-text-in-image-single-content-backdrop: blur(1px);
  --pobo-text-in-image-single-content-bg: linear-gradient(0deg, black, transparent);


  --pobo-text-in-image-single-text-font-size: 16px;
  --pobo-text-in-image-single-text-line-height: 22px;
  --pobo-text-in-image-single-text-font-weight: 400;
  --pobo-text-in-image-single-text-font-color: #fff;
  --pobo-text-in-image-single-text-padding: 0;
  --pobo-text-in-image-single-text-margin: 0;
  --pobo-text-in-image-single-text-text-shadow: 1px 1px 1px #282828;
  --pobo-text-in-image-single-img-height: auto;
  --pobo-text-in-image-single-bg: rgba(0, 0, 0, 0.40);
  --pobo-text-in-image-single-font-color: #fff;
  --pobo-text-in-image-single-text-shadow: none;

  --pobo-text-in-image-three-header-font-color: #fff;
  --pobo-text-in-image-three-header-font-size: 24px;
  --pobo-text-in-image-three-header-line-height: 30px;
  --pobo-text-in-image-three-header-font-weight: 600;
  --pobo-text-in-image-three-header-padding: 0;
  --pobo-text-in-image-three-header-margin: 0 0 10px 0;
  --pobo-text-in-image-three-header-text-shadow: 1px 1px 1px #282828;
  --pobo-text-in-image-three-content-background: linear-gradient(0deg, black, transparent);
  --pobo-text-in-image-three-content-backdrop-filter: blur(1px);

  --pobo-text-in-image-content-height: 150px;
  --pobo-text-in-image-three-content-padding: 20px;
  --pobo-text-in-image-circle-radius: 50%;
  --pobo-text-in-image-circle-width: 50px;
  --pobo-text-in-image-circle-line-height: 50px;
  --pobo-text-in-image-circle-font-size: 25px;
  --pobo-text-in-image-single-height: 500px;
  --pobo-text-in-image-single-margin: 5px;
  --pobo-text-in-image-single-background: rgba(0, 0, 0, 0.486);
  --pobo-text-in-image-content-padding: 25px;
  --pobo-text-in-image-circle-size: 4vw;

  --pobo-card-call-to-action-bg: unset;
  --pobo-card-call-to-action-shadow: none;
  --pobo-card-call-to-action-radius: 0;
  --pobo-card-call-to-action-border-color: none;
  --pobo-card-call-to-action-wrap-gap: 20px;
  --pobo-card-call-to-action-photo-max-height: 200px;
  --pobo-card-call-to-action-photo-radius: 5px 5px 0px 0px;
  --pobo-card-call-to-action-single-border-radius: 5px;
  --pobo-card-call-to-action-title-font-size: 20px;
  --pobo-card-call-to-action-title-line-height: 24px;
  --pobo-card-call-to-action-title-padding: 0 0 20px 0;
  --pobo-card-call-to-action-title-margin: 0;
  --pobo-card-call-to-action-single-bg: #fdfdfd;
  --pobo-card-call-to-action-content-padding: 20px;
  --pobo-card-call-to-action-content-margin: 0;
  --pobo-card-call-to-action-single-padding: 0;
  --pobo-card-call-to-action-single-margin: 0;
  --pobo-card-call-to-action-single-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 0px;

  --pobo-card-call-to-action-text-font-size: 15px;
  --pobo-card-call-to-action-text-font-weight: 400;
  --pobo-card-call-to-action-text-font-color: #333333;
  --pobo-card-call-to-action-text-line-height: 16px;
  --pobo-card-call-to-action-text-padding: 0;
  --pobo-card-call-to-action-text-margin: 0 0 20px 0;

  --pobo-card-call-to-action-button-padding: 0 0 15px 0;

  --pobo-reviews-two-gap: 40px;
  --pobo-reviews-two-bg: unset;
  --pobo-reviews-two-box-shadow: none;
  --pobo-reviews-two-border-radius: 0;
  --pobo-reviews-two-border-color: 0px;
  --pobo-reviews-two-border: 0;

  --pobo-reviews-two-box-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 0px;
  --pobo-reviews-two-box-border-radius: 5px;
  --pobo-reviews-two-box-bg: #fff;
  --pobo-reviews-two-box-padding: 20px;
  --pobo-reviews-two-box-margin: 0;

  --pobo-reviews-two-inner-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 0px;
  --pobo-reviews-two-inner-border-radius: 5px;
  --pobo-reviews-two-inner-bg: #fff;
  --pobo-reviews-two-inner-border-color: none;
  --pobo-reviews-two-inner-padding: 20px;
  --pobo-reviews-two-inner-margin: 0;

  --pobo-reviews-two-client-text-font-size: 15px;
  --pobo-reviews-two-client-text-font-weight: 500;
  --pobo-reviews-two-client-text-font-color: #333333;
  --pobo-reviews-two-client-text-line-height: 20px;
  --pobo-reviews-two-client-text-padding: 0;
  --pobo-reviews-two-client-text-margin: 25px 0 0 0;

  --pobo-reviews-two-box-name-font-size: 14px;
  --pobo-reviews-two-box-name-font-weight: 600;
  --pobo-reviews-two-box-name-font-color: #333333;
  --pobo-reviews-two-box-name-line-height: 20px;
  --pobo-reviews-two-box-name-padding: 0;
  --pobo-reviews-two-box-name-margin: 0 0 10px 0;

  --pobo-reviews-two-box-smallname-font-size: 13px;
  --pobo-reviews-two-box-smallname-font-weight: 400;
  --pobo-reviews-two-box-smallname-font-color: #7c7c7c;
  --pobo-reviews-two-box-smallname-line-height: 20px;
  --pobo-reviews-two-box-smallname-padding: 0;
  --pobo-reviews-two-box-smallname-margin: 0;

  --pobo-reviews-two-box-star-bg: url("https://pobo-cdn.b-cdn.net/static/iconmonstr-star-filled%20(1).svg");
  --pobo-reviews-two-box-star-size: 30px;

  --pobo-reviews-two-box-top-gap: 10px;
  --pobo-reviews-two-box-top-margin: 0 0 20px 0;

  --pobo-reviews-two-box-photo-size: 50px;
  --pobo-reviews-two-box-photo-radius: 50%;

  --pobo-reviews-three-bg: unset;
  --pobo-reviews-three-box-shadow: none;
  --pobo-reviews-three-border-radius: 0;
  --pobo-reviews-three-border-color: 0px;
  --pobo-reviews-three-border: 0px;

  --pobo-reviews-three-wrap-gap: 25px;

  --pobo-reviews-three-photo-img-radius: 50%;
  --pobo-reviews-three-photo-img-height: 60px;
  --pobo-reviews-three-photo-img-width: 60px;
  --pobo-reviews-three-photo-img-margin: 10px;

  --pobo-reviews-three-single-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 0px;
  --pobo-reviews-three-single-border-radius: 5px;
  --pobo-reviews-three-single-bg: #fff;
  --pobo-reviews-three-single-border: 0px;
  --pobo-reviews-three-single-padding: 20px 30px;
  --pobo-reviews-three-single-margin: 0;

  --pobo-reviews-three-single-image-padding: 0;
  --pobo-reviews-three-single-image-margin: 0;
  --pobo-reviews-three-single-image-border: none;
  --pobo-reviews-three-single-image-box-shadow: none;
  --pobo-reviews-three-single-image-border-radius: none;
  --pobo-reviews-three-single-image-bg: none;

  --pobo-reviews-three-reviews-padding: 20px 0;
  --pobo-reviews-three-reviews-margin: 0;
  --pobo-reviews-three-reviews-font-size: 15px;
  --pobo-reviews-three-reviews-line-height: 20px;
  --pobo-reviews-three-reviews-font-color: #333333;
  --pobo-reviews-three-reviews-font-weight: 400;

  --pobo-reviews-three-name-font-color: #333333;
  --pobo-reviews-three-name-font-size: 15px;
  --pobo-reviews-three-name-line-height: 20px;
  --pobo-reviews-three-name-font-weight: 600;
  --pobo-reviews-three-name-padding: 0;
  --pobo-reviews-three-name-margin: 0 0 10px 0;


  --pobo-reviews-three-date-font-size: 13px;
  --pobo-reviews-three-date-line-height: 18px;
  --pobo-reviews-three-date-font-weight: 400;
  --pobo-reviews-three-date-font-color: #7c7c7c;
  --pobo-reviews-three-date-padding: 0;
  --pobo-reviews-three-date-margin: 0;

  --pobo-quotation-card-bg: transparent;
  --pobo-quotation-card-box-shadow: none;
  --pobo-quotation-card-border-radius: 0;
  --pobo-quotation-card-border-color: none;
  --pobo-quotation-card-border: none;

  --pobo-quotation-card-wrap-padding: 30px 30px 30px 50px;
  --pobo-quotation-card-wrap-margin: 0;
  --pobo-quotation-card-wrap-bg: white;
  --pobo-quotation-card-wrap-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 0px;
  --pobo-quotation-card-wrap-border-radius: 5px;
  --pobo-quotation-card-wrap-border: none;
  --pobo-quotation-card-wrap-min-height: 150px;

  --pobo-quotation-card-content-text-font-size: 22px;
  --pobo-quotation-card-content-text-font-weight: 400;
  --pobo-quotation-card-content-text-color: #333333;
  --pobo-quotation-card-content-text-line-height: 30px;
  --pobo-quotation-card-content-text-padding: 0 100px 0 20px;
  --pobo-quotation-card-content-text-margin: 0 0 10px 0;

  --pobo-quotation-card-content-name-font-size: 18px;
  --pobo-quotation-card-content-name-font-weight: 400;
  --pobo-quotation-card-content-name-color: #333333;
  --pobo-quotation-card-content-name-line-height: 30px;
  --pobo-quotation-card-content-name-padding: 0;
  --pobo-quotation-card-content-name-margin: 0;

  --pobo-quotation-split-wrap-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 0px;
  --pobo-quotation-split-wrap-padding: 30px 30px 30px 50px;
  --pobo-quotation-split-wrap-margin: 0;
  --pobo-quotation-split-wrap-border-radius: 5px;
  --pobo-quotation-split-wrap-bg: white;
  --pobo-quotation-split-wrap-border: none;

  --pobo-quotation-split-text-font-size: 22px;
  --pobo-quotation-split-text-font-weight: 500;
  --pobo-quotation-split-text-color: #333333;
  --pobo-quotation-split-text-line-height: 35px;
  --pobo-quotation-split-text-padding: 10px 30px 10px 30px;
  --pobo-quotation-split-text-margin: 0 0 10px 0;
  --pobo-quotation-split-text-font-style: italic;

  --pobo-quotation-split-author-font-size: 18px;
  --pobo-quotation-split-author-line-height: 30px;
  --pobo-quotation-split-author-font-weight: 400;
  --pobo-quotation-split-author-font-color: #8a8c94;
  --pobo-quotation-split-author-split-padding: 0 0 15px 0;
  --pobo-quotation-split-author-margin: 0;

  --pobo-conversion-three-bg: unset;
  --pobo-conversion-three-box-shadow: none;
  --pobo-conversion-three-border-radius: 0px;
  --pobo-conversion-three-border: 0px;

  --pobo-conversion-three-item-margin: 0 0 20px 0;
  --pobo-conversion-three-item-padding: 0;

  --pobo-conversion-three-count-width: 150px;
  --pobo-conversion-three-count-height: 150px;
  --pobo-conversion-three-count-border-radius: 50%;
  --pobo-conversion-three-count-bg: #fff;
  --pobo-conversion-three-count-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 0px;
  --pobo-conversion-three-count-border: none;
  --pobo-conversion-three-count-font-size: 35px;
  --pobo-conversion-three-count-font-weight: 500;
  --pobo-conversion-three-count-font-color: #333333;
  --pobo-conversion-three-count-line-height: 35px;
  --pobo-conversion-three-count-padding: 0;
  --pobo-conversion-three-count-margin: 0 0 10px 0;

  --pobo-conversion-three-title-font-color: #333333;
  --pobo-conversion-three-title-font-size: 20px;
  --pobo-conversion-three-title-line-height: 30px;
  --pobo-conversion-three-title-font-weight: 500;
  --pobo-conversion-three-title-padding: 0;
  --pobo-conversion-three-title-margin: 40px 0 0 0;

  --pobo-evaluation-two-padding: 0;
  --pobo-evaluation-two-margin: 0;
  --pobo-evaluation-two-title-padding: 30px 20px;
  --pobo-evaluation-two-title-margin: 0;
  --pobo-evaluation-two-contents-padding: 0;
  --pobo-evaluation-two-contents-gap: 40px;
  --pobo-evaluation-two-obl-single-padding: 0;
  --pobo-evaluation-two-obl-single-margin: 0;
  --pobo-evaluation-two-obl-single-gap: 20px;

  --pobo-evaluation-two-single-padding: 30px;
  --pobo-evaluation-two-single-margin: 0;
  --pobo-evaluation-two-single-bg: #fff;
  --pobo-evaluation-two-single-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 0px;
  --pobo-evaluation-two-single-border-radius: 5px;
  --pobo-evaluation-two-single-border: none;

  --pobo-evaluation-two-logo-padding: 0;
  --pobo-evaluation-two-logo-margin: 0 auto 0 auto;
  --pobo-evaluation-two-logo-max-width: 150px;

  --pobo-evaluation-two-text-in-font-size: 18px;
  --pobo-evaluation-two-text-in-font-weight: 400;
  --pobo-evaluation-two-text-in-font-color: #333333;
  --pobo-evaluation-two-text-in-line-height: 24px;
  --pobo-evaluation-two-text-in-padding: 22px;
  --pobo-evaluation-two-text-in-margin: 0;
  --pobo-evaluation-two-text-in-bg: #FFF;
  --pobo-evaluation-two-text-in-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 0px;

  --pobo-evaluation-two-header-font-size: 25px;
  --pobo-evaluation-two-header-font-weight: 500;
  --pobo-evaluation-two-header-font-color: #333333;
  --pobo-evaluation-two-header-line-height: 24px;
  --pobo-evaluation-two-header-padding: 0;
  --pobo-evaluation-two-header-margin: 0;
  --pobo-evaluation-two-header-before-bg: #eaeaea;
  --pobo-evaluation-two-header-before-height: 1px;
  --pobo-evaluation-two-header-before-margin: 0 0 -15px 0;

  --pobo-evaluation-two-span-bg: #ffffff;
  --pobo-evaluation-two-span-padding: 0 20px;
  --pobo-evaluation-two-span-margin: 0 10px;

  --pobo-rating-two-const-bg: white;
  --pobo-rating-two-box-shadow: none;
  --pobo-rating-two-border-radius: 0;
  --pobo-rating-two-border-color: none;
  --pobo-rating-two-border: none;
  --pobo-rating-two-gap: 40px;

  --pobo-rating-two-list-padding: 0;
  --pobo-rating-two-list-margin: 0 0 0 5px;

  --pobo-rating-two-list-item-padding: 5px 0 5px 30px;
  --pobo-rating-two-list-item-margin: 0;
  --pobo-rating-two-list-item-font-size: 15px;
  --pobo-rating-two-list-item-font-weight: 400;
  --pobo-rating-two-list-item-font-color: #333333;
  --pobo-rating-two-list-item-line-height: 20px;

  --pobo-rating-two-list-item-after-size: 20px;
  --pobo-rating-two-list-item-plus:  url("https://image.pobo.cz/assets/plus.svg") no-repeat center center;
  --pobo-rating-two-list-item-minus: url("https://image.pobo.cz/assets/minus.svg") no-repeat center center;

  --pobo-rating-two-box-padding: 20px;
  --pobo-rating-two-box-margin: 0;
  --pobo-rating-two-box-bg: #fff;
  --pobo-rating-two-box-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 0px;
  --pobo-rating-two-box-border-color: 0px;
  --pobo-rating-two-box-border-radius: 5px;

  --pobo-rating-two-header-padding: 0;
  --pobo-rating-two-header-margin: 0 0 10px 30px;
  --pobo-rating-two-header-font-size: 20px;
  --pobo-rating-two-header-font-weight: 600;
  --pobo-rating-two-header-font-color: #333333;
  --pobo-rating-two-header-line-height: 24px;

  --pobo-interview-photo-bg: #fff;
  --pobo-interview-photo-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 0px;
  --pobo-interview-photo-border-radius: 15px;
  --pobo-interview-photo-border: none;
  --pobo-interview-photo-padding: 0;
  --pobo-interview-photo-margin: 0;

  --pobo-interview-photo-wrap-padding: 0 40px;
  --pobo-interview-photo-wrap-margin: 0 auto;
  --pobo-interview-photo-wrap-gap: 10px;
  --pobo-interview-photo-wrap-max-width: 100%;
  --pobo-interview-photo-wrap-font-size: 16px;
  --pobo-interview-photo-wrap-font-weight: 400;
  --pobo-interview-photo-wrap-font-color: #333333;
  --pobo-interview-photo-wrap-line-height: 20px;


  --pobo-interview-photo-text-padding: 40px 0 0 0;
  --pobo-interview-photo-text-margin: 0;
  --pobo-interview-photo-text-font-size: 26px;
  --pobo-interview-photo-text-font-weight: 500;
  --pobo-interview-photo-text-font-color: #333333;
  --pobo-interview-photo-text-line-height: 30px;

  --pobo-interview-photo-person-img-max-width: 150px;
  --pobo-interview-photo-person-img-border-radius: 50%;

  --pobo-interview-photo-person-size: 150px;
  --pobo-interview-photo-person-margin: 20px auto 20px auto;
  --pobo-interview-photo-person-padding: 0;

  --pobo-author-left-bg: transparent;
  --pobo-author-left-box-shadow: none;
  --pobo-author-left-border-radius: 0;
  --pobo-author-left-border: 0px;
  --pobo-author-left-margin: 0;

  --pobo-author-left-wrap-gap: 40px;
  --pobo-author-left-wrap-width: 100%;

  --pobo-author-left-img-wrap-size: 150px;
  --pobo-author-left-img-wrap-border-radius: 50%;
  --pobo-author-left-img-wrap-border: 2px solid #FFF;
  --pobo-author-left-img-wrap-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 0px;

  --pobo-author-left-content-title-font-size: 26px;
  --pobo-author-left-content-title-line-height: 30px;
  --pobo-author-left-content-title-font-weight: 500;
  --pobo-author-left-content-title-font-color: #1a1a1a;
  --pobo-author-left-content-title-padding: 0;
  --pobo-author-left-content-title-margin: 0 0 10px 0;

  --pobo-author-left-content-text-font-size: 15px;
  --pobo-author-left-content-text-line-height: 20px;
  --pobo-author-left-content-text-font-weight: 400;
  --pobo-author-left-content-text-font-color: #1a1a1a;
  --pobo-author-left-content-text-padding: 0;
  --pobo-author-left-content-text-margin: 10px 0 0 0;

  --pobo-team-three-bg: unset;
  --pobo-team-three-box-shadow: none;
  --pobo-team-three-border-radius: 0;
  --pobo-team-three-border: none;
  --pobo-team-three-gap: 20px;

  --pobo-team-three-single-content-bg: #fff;
  --pobo-team-three-single-margin: 0;
  --pobo-team-three-single-content-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 0px;
  --pobo-team-three-single-content-padding: 20px;
  --pobo-team-three-single-content-margin: 0;
  --pobo-team-three-single-content-border-radius: 5px;

  --pobo-team-three-single-name-font-color: #333333;
  --pobo-team-three-single-name-font-size: 20px;
  --pobo-team-three-single-name-line-height: 24px;
  --pobo-team-three-single-name-font-weight: 600;
  --pobo-team-three-single-name-padding: 0;
  --pobo-team-three-single-name-margin: 0 0 5px 0;

  --pobo-team-three-single-position-font-color: #333333;
  --pobo-team-three-single-position-font-size: 15px;
  --pobo-team-three-single-position-line-height: 20px;
  --pobo-team-three-single-position-font-weight: 400;
  --pobo-team-three-single-position-padding: 0;
  --pobo-team-three-single-position-margin: 0 0 0 0;

  --pobo-author-top-bg: transparent;
  --pobo-author-top-box-shadow: none;
  --pobo-author-top-border-radius: 0;
  --pobo-author-top-border: 0px;
  --pobo-author-top-margin: 0;

  --pobo-author-top-wrap-bg: #fff;
  --pobo-author-top-wrap-padding: 50px 20px 60px 20px;
  --pobo-author-top-wrap-margin: 0;
  --pobo-author-top-wrap-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 0px;
  --pobo-author-top-wrap-border-radius: 15px;

  --pobo-author-top-info-gap: 20px;
  --pobo-author-top-info-photo-size: 120px;
  --pobo-author-top-info-photo-border-radius: 50%;
  --pobo-author-top-info-photo-border: 2px solid #FFF;
  --pobo-author-top-info-photo-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 0px;


  --pobo-author-top-info-content-name-font-size: 26px;
  --pobo-author-top-info-content-name-line-height: 30px;
  --pobo-author-top-info-content-name-font-weight: 500;
  --pobo-author-top-info-content-name-font-color: #1a1a1a;
  --pobo-author-top-info-content-name-padding: 0;
  --pobo-author-top-info-content-name-margin: 0 0 5px 0;

  --pobo-author-top-info-content-position-font-size: 15px;
  --pobo-author-top-info-content-position-line-height: 20px;
  --pobo-author-top-info-content-position-font-weight: 400;
  --pobo-author-top-info-content-position-font-color: #1a1a1a;
  --pobo-author-top-info-content-position-padding: 0;
  --pobo-author-top-info-content-position-margin: 0 0 0 0;

  --pobo-author-top-text-padding: 20px 100px 0 100px;
  --pobo-author-top-text-margin: 0;
  --pobo-author-top-text-font-size: 15px;
  --pobo-author-top-text-font-weight: 400;
  --pobo-author-top-text-font-color: #1a1a1a;
  --pobo-author-top-text-line-height: 20px;

  --pobo-author-top-text-content-font-color: #1a1a1a;
  --pobo-author-top-text-content-font-size: 17px;
  --pobo-author-top-text-content-line-height: 28px;
  --pobo-author-top-text-content-font-weight: 400;
  --pobo-author-top-text-content-padding: 0;
  --pobo-author-top-text-content-margin: 20px 0 0 0;

  --pobo-faq-header-margin: 20px 0 0 0;
  --pobo-faq-header-padding: 12px 12px 12px 40px;
  --pobo-faq-header-font-size: 15px;
  --pobo-faq-header-font-weight: 600;
  --pobo-faq-header-font-color: #333333;
  --pobo-faq-header-line-height: 24px;
  --pobo-faq-header-border: 1px solid #eaeaea;
  --pobo-faq-header-border-radius: 4px;
  --pobo-faq-header-border-radius-active: 5px 5px 0 0;
  --pobo-faq-header-box-shadow: rgba(100, 100, 111, 0.2) 0px 2px 7px 0px;
  --pobo-faq-header-outline: none;
  --pobo-faq-header-before-size: 30px;
  --pobo-faq-header-before-top: calc(50% - 15px);
  --pobo-faq-header-before-left: 5px;
  --pobo-faq-header-background-image: linear-gradient(#fcfcfc, #efefef);
  --pobo-faq-header-before-background-image: url("https://image.pobo.cz/assets/arrow-bottom.svg") no-repeat center center;


  --pobo-faq-content-padding: 5px 20px;
  --pobo-faq-content-margin: 0;
  --pobo-faq-content-background: #fff;
  --pobo-faq-content-border: 1px solid #eaeaea;
  --pobo-faq-content-border-radius: 0 0 5px 5px;
  --pobo-faq-content-box-shadow: rgba(100, 100, 111, 0.2) 0px 2px 7px 0px;

  --pobo-author-above-max-width: 999px;
  --pobo-author-above-wrap-border-radius: 20px;
  --pobo-author-above-wrap-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 0px;
  --pobo-author-above-wrap-bg: #fff;
  --pobo-author-above-wrap-margin: 0;
  --pobo-author-above-photo-img-top: -40px;
  --pobo-author-above-photo-img-radius: 50%;
  --pobo-author-above-photo-img-size: 80px;
  --pobo-author-above-photo-img-border: 1px solid #585858;
  --pobo-author-above-content-padding: 0px 40px;
  --pobo-author-above-content-top: -40px;
  --pobo-author-above-content-padding-sm: 0px 17px;
  --pobo-author-above-content-name-font-size: 27px;
  --pobo-author-above-content-name-font-weight: 600;
  --pobo-author-above-content-name-padding: 17px 0px;
  --pobo-author-above-content-name-margin: 0;
  --pobo-author-above-content-text-color: black;
  --pobo-author-above-content-text-font-size: 16px;
  --pobo-author-above-content-text-line-height: 26px;
  --pobo-author-above-content-text-font-weight: 400;
  --pobo-author-above-content-text-padding: 0;
  --pobo-author-above-content-text-margin: 0;
  --pobo-author-above-content-link-padding-top: 17px;
  --pobo-author-above-content-link-font-size: 14px;
  --pobo-author-above-content-link-color: black;

  --pobo-checked-left-image-header-padding: 0 0 20px 0;
  --pobo-checked-left-image-header-margin: 0;
  --pobo-checked-left-image-header-font-size: 28px;
  --pobo-checked-left-image-list-width:  50%;
  --pobo-checked-left-image-image-width:  50%;
  --pobo-checked-left-image-list-padding:  0 40px 0 0;

  --pobo-checked-list-max-width: 500px;
  --pobo-checked-list-padding: 0;
  --pobo-checked-list-li-padding: 5px 0 5px 35px;
  --pobo-checked-list-li-margin: 0;
  --pobo-checked-list-li-line-height: 24px;
  --pobo-checked-list-li-font-size: 16px;
  --pobo-checked-list-li-left: 0;
  --pobo-checked-list-li-top: 7px;
  --pobo-checked-list-li-size: 20px;
  --pobo-checked-list-li-background: url("https://image.pobo.cz/assets/checked.svg") no-repeat
  center center;

  --pobo-checked-right-image-header-padding: 0 0 20px 0;
  --pobo-checked-right-image-header-margin: 0;
  --pobo-checked-right-image-header-font-size: 28px;
  --pobo-checked-right-image-list-width: 50%;
  --pobo-checked-right-image-list-padding: 0 0 0 40px;
  --pobo-checked-right-image-image-width: 50%;

  --pobo-dynamic-gallery-wrap-padding: 10px;
  --pobo-dynamic-gallery-wrap-grid-gap: 10px;
  --pobo-dynamic-gallery-photo-size: 100%;
  --pobo-dynamic-gallery-photo-max-height: 300px;

  --pobo-header-text-font-size: 30px;
  --pobo-header-text-padding: 0;
  --pobo-header-text-margin: 0;
  --pobo-header-text-inner-font-size: 15;
  --pobo-header-text-inner-padding: 0;
  --pobo-header-text-inner-margin: 20px 0 0 0;
  --pobo-header-text-inner-line-height: 24px;

  --pobo-infobox-info-padding: 15px;
  --pobo-infobox-info-background: #e3f1ff;
  --pobo-infobox-info-border: 1px solid #b8daff;
  --pobo-infobox-info-margin: 20px 0;
  --pobo-infobox-info-box-shadow: 0 0 4px #90ddff;
  --pobo-infobox-info-border-radius: 4px;
  --pobo-infobox-info-color: #004085;
  --pobo-infobox-warning-padding: 15px;
  --pobo-infobox-warning-background: #ffe3e3;
  --pobo-infobox-warning-border: 1px solid #ffb8b8;
  --pobo-infobox-warning-box-shadow: 0 0 4px #ff9090;
  --pobo-infobox-warning-border-radius: 4px;
  --pobo-infobox-warning-color: #721c24;

  --pobo-information-two-wrap-box-shadow: 0 0 4px #ffd490;
  --pobo-information-two-wrap-border-radius: 4px;
  --pobo-information-two-ico-background: url("https://pobo-cdn.b-cdn.net/widget/danger-white.png") no-repeat;;
  --pobo-information-two-ico-size: 40px;

  --pobo-information-two-icon-background: #f7ad38;
  --pobo-information-two-icon-padding: 0 20px;
  --pobo-information-two-icon-width: 80px;
  --pobo-information-two-icon-max-width: 30px;
  --pobo-information-two-content-padding: 15px;
  --pobo-information-two-content-background-color: #ffe5bb;
  --pobo-information-two-content-border: 1px solid #ffcc74;
  --pobo-information-two-content-text-font-size: 15px;
  --pobo-information-two-content-text-line-height: 20px;
  --pobo-information-two-content-text-color: #6c4300;

  --pobo-information-two-content-title-font-size: 20px;
  --pobo-information-two-content-title-padding: 0;
  --pobo-information-two-content-title-margin: 0 0 10px 0;
  --pobo-information-two-content-title-color: #6c4300;

  --pobo-jumbotron-one-wrap-background: black;
  --pobo-jumbotron-one-wrap-img-size: 100%;
  --pobo-jumbotron-one-content-background: rgba(0, 0, 0, 0.527);
  --pobo-jumbotron-one-content-padding: 100px;
  --pobo-jumbotron-one-content-padding-sm: 20px 10px;
  --pobo-jumbotron-one-content-title-color: white;
  --pobo-jumbotron-one-content-title-font-size: 42px;
  --pobo-jumbotron-one-content-title-padding: 20px 0px;
  --pobo-jumbotron-one-content-text-color: white;
  --pobo-jumbotron-one-content-text-font-size: 20px;
  --pobo-jumbotron-one-content-text-line-height: 32px;
  --pobo-jumbotron-one-content-text-padding: 20px 0px;

  --pobo-list-container-padding: 20px 0;
  --pobo-list-header-font-size: 25px;
  --pobo-list-header-padding: 0;
  --pobo-list-header-margin: 0 0 25px;
  --pobo-list-ul-padding: 0 0 0 40px;
  --pobo-list-ul-margin: 0;
  --pobo-list-li-padding: 2px 0;

  --pobo-product-card-title-padding: 0;
  --pobo-product-card-title-margin: 20px 0 0 0;
  --pobo-product-card-title-font-size: 14px;
  --pobo-product-card-title-line-height: 16px;
  --pobo-product-card-title-height: 40px;
  --pobo-product-card-title-font-weight: 600;

  --pobo-product-price-font-size: 17px;
  --pobo-product-price-line-height: 18px;
  --pobo-product-price-font-weight: 600;
  --pobo-product-price-margin: 20px 0 0 0;
  --pobo-product-price-action-padding: 15px 0 0 0;


  --pobo-rating-image-bg: none;
  --pobo-rating-image-box-shadow: none;
  --pobo-rating-image-border-color: 0;
  --pobo-rating-image-container-padding: 10px;
  --pobo-rating-image-content-padding: 50px 40px 50px 40px;
  --pobo-rating-image-content-padding-sm: 0 40px 40px 40px;
  --pobo-rating-image-content-text-font-size: 22px;
  --pobo-rating-image-content-text-line-height: 28px;
  --pobo-rating-image-width: 300px;
  --pobo-rating-image-border-radius: 50%;


  --pobo-review-one-bg: none;
  --pobo-review-one-box-shadow: none;
  --pobo-review-one-border-color: 0;
  --pobo-review-one-left-width: 10%;
  --pobo-review-one-left-min-width: 80px;
  --pobo-review-one-left-padding: 0 10px;
  --pobo-review-one-right-width: 90%;
  --pobo-review-one-right-padding: 0px 10px;
  --pobo-review-one-img-max-width: 50px;
  --pobo-review-one-header-font-size: 30px;
  --pobo-review-one-header-font-weight: 500;
  --pobo-review-one-header-padding: 8px 0;
  --pobo-review-one-header-margin: 0px;
  --pobo-review-one-font-family: Georgia, sans-serif;
  --pobo-review-one-text-font-size: 16px;
  --pobo-review-one-text-line-height: 22px;
  --pobo-review-one-number-font-size: 40px;
  --pobo-review-one-number-line-height: 0.8;
  --pobo-review-one-number-font-weight: bold;

  --pobo-success-one-box-shadow: 0 0 4px #93d8a6;
  --pobo-success-one-border-radius: 4px;
  --pobo-success-one-ico-background: url("https://pobo-cdn.b-cdn.net/widget/like.png") no-repeat;
  --pobo-success-one-ico-size: 40px;
  --pobo-success-one-icon-background: #90e24a;
  --pobo-success-one-icon-padding: 0 20px;
  --pobo-success-one-icon-width: 80px;
  --pobo-success-one-content-padding: 15px;
  --pobo-success-one-content-background-color: #c8f9d2;
  --pobo-success-one-content-border: 1px solid #a5ea85;
  --pobo-success-one-content-title-font-size: 20px;
  --pobo-success-one-content-title-padding: 0;
  --pobo-success-one-content-title-margin: 0 0 10px 0;
  --pobo-success-one-content-title-color: #046c00;
  --pobo-success-one-content-text-font-size: 15px;
  --pobo-success-one-content-text-line-height: 20px;

  --pobo-title-line-title-gap: 20px;
  --pobo-title-line-title-font-size: 25px;
  --pobo-title-line-title-line-height: 30px;
  --pobo-title-line-title-color: #333333;
  --pobo-title-line-title-font-weight: 500;
  --pobo-title-line-title-before-border-top-color: 1px solid #3f3f3f;

  --pobo-userwidget-max-width: 1200px;
  --pobo-userwidget-wrap-border: 1px solid rgb(158, 158, 158);
  --pobo-userwidget-photo-padding: 20px;
  --pobo-userwidget-photo-max-width: 100px;
  --pobo-userwidget-photo-width: 90px;
  --pobo-userwidget-info-padding: 20px 20px;
  --pobo-userwidget-info-text-h3-font-size: 27px;
  --pobo-userwidget-info-text-p-font-size: 19px;

  --pobo-warning-one-box-shadow: 0 0 4px #ff7474;
  --pobo-warning-one-border-radius: 4px;
  --pobo-warning-one-ico-background:  url("https://pobo-cdn.b-cdn.net/widget/x-ico.png") no-repeat;
  --pobo-warning-one-ico-size: 40px;
  --pobo-warning-one-icon-background: #f73838;
  --pobo-warning-one-icon-padding: 0 20px;
  --pobo-warning-one-icon-width: 80px;
  --pobo-warning-one-content-padding: 15px;
  --pobo-warning-one-content-background-color: #ffbbbb;
  --pobo-warning-one-content-border: 1px solid #ff7474;
  --pobo-warning-one-content-title-font-size: 20px;
  --pobo-warning-one-content-title-padding: 0;
  --pobo-warning-one-content-title-margin: 0 0 10px 0;
  --pobo-warning-one-content-title-color: #6c0000;
  --pobo-warning-one-content-text-font-size: 15px;
  --pobo-warning-one-content-text-line-height: 20px;

  --pobo-carousel-container-padding: 20px 50px;
  --pobo-carousel-container-margin: 0;

  --pobo-carousel-inner-border: 1px solid #eeeeee;
  --pobo-carousel-inner-border-radius: 5px;
  --pobo-carousel-inner-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 0px;
  --pobo-carousel-inner-trigger-bg-image: #FFF url("https://www.svgrepo.com/show/432461/double-arrow-right.svg") no-repeat 50% 50%;
  --pobo-carousel-inner-trigger-border: 1px solid #eeeeee;
  --pobo-carousel-inner-trigger-size: 40px;

  --pobo-carousel-item-prouct-bg: #fff;
  --pobo-carousel-item-prouct-padding: 20px;
  --pobo-carousel-item-prouct-count: 4.5;

  --pobo-gallery-modal-blur: blur(4px);
  --pobo-gallery-modal-background-color: hsla(0, 0%, 0%, 0.5);
  --pobo-gallery-modal-top: 0;
  --pobo-gallery-modal-bottom: 0;
  --pobo-gallery-modal-width: 100%;
  --pobo-gallery-modal-height: 100%;

  --pobo-gallery-modal-close-width: 50px;
  --pobo-gallery-modal-close-height: 50px;
  --pobo-gallery-modal-close-right: 10px;
  --pobo-gallery-modal-close-top: 10px;
  --pobo-gallery-modal-close-font-size: 50px;
  --pobo-gallery-modal-close-line-height: 50px;
  --pobo-gallery-modal-close-border-radius: 50%;
  --pobo-gallery-modal-close-color: white;

  --pobo-gallery-modal-image-width: 100vw;
  --pobo-gallery-modal-image-height: calc(100vh - 200px);
  --pobo-gallery-modal-image-padding: 10px;

  --pobo-gallery-modal-image-small-gap: 20px;
  --pobo-gallery-modal-image-small-width: 90%;
  --pobo-gallery-modal-image-small-margin: 0 auto;
  --pobo-gallery-modal-image-small-height: 200px;

  --pobo-gallery-modal-image-item-width: 100px;
  --pobo-gallery-modal-image-item-height: 100px;
  --pobo-gallery-modal-image-item-border-radius: 20px;
  --pobo-gallery-modal-image-item-flex-shrink: 0px;

  --pobo-gallery-modal-img-max-width: 100%;
  --pobo-gallery-modal-img-max-height: 100%;
  --pobo-gallery-modal-img-width: auto;
  --pobo-gallery-modal-img-height: auto;
  --pobo-gallery-modal-img-box-shadow: 0 0 10px 10px #00000014;

  --pobo-image-right-box-bg: none;
  --pobo-image-right-text-align: left;
  --pobo-image-right-padding: 0;
  --pobo-image-right-margin: 0;
  --pobo-image-right-border-radius: 0;

  --pobo-image-left-box-bg: none;
  --pobo-image-left-text-align: left;
  --pobo-image-left-padding: 0 0 0 20px;
  --pobo-image-left-margin: 0;
  --pobo-image-left-border-radius: 0;

  --pobo-widget-faq-margin: 10px 0 20px 0;
  --pobo-widget-faq-padding: 0;
  --pobo-widget-infobox-padding: 0;
  --pobo-widget-infobox-margin: 20px 0;
  --pobo-widget-warning-two-margin: 20px 0;
  --pobo-widget-warning-two-padding: 0;

  --pobo-widget-image-left-overlay-bg: var(--pobo-image-overlay-bg);
  --pobo-widget-image-right-overlay-bg: var(--pobo-image-overlay-bg);

  // global
  --pobo-widget-global-padding: 20px 0;
  --pobo-widget-global-margin: 20px auto;
  --pobo-widget-global-box-shadow: none;
  --pobo-widget-global-bg: none;

  --pobo-widget-advantages-two-margin: 20px 0;
  --pobo-widget-advantages-two-padding: 0;

  --pobo-widget-advantages-three-margin: 20px 0;
  --pobo-widget-advantages-three-padding: 0;

  --pobo-widget-advantages-four-margin: 0;
  --pobo-widget-advantages-four-padding: 20px 0;

  --pobo-widget-gallery-four-padding: 0;
  --pobo-widget-gallery-four-margin: 20px 0;

  --pobo-widget-gallery-three-padding: 0;
  --pobo-widget-gallery-three-margin: 20px 0;

  --pobo-widget-gallery-two-padding: 0;
  --pobo-widget-gallery-two-margin: 20px 0;

  --pobo-widget-gallery-one-padding: 0;
  --pobo-widget-gallery-one-margin: 20px 0;

  --pobo-widget-parameter-small-right-margin: 20px 0;
  --pobo-widget-parameter-small-right-padding: 0;

  --pobo-widget-parameter-small-left-margin: 20px 0;
  --pobo-widget-parameter-small-left-padding: 0;

  --pobo-widget-parameter-big-right-margin: 20px 0;
  --pobo-widget-parameter-big-right-padding: 0;

  --pobo-widget-author-above-margin: 50px 0 20px 0;
}



@import "mobile-variable";