@import "node_modules/bootstrap/scss/_functions.scss";
@import "node_modules/bootstrap/scss/_variables.scss";
@import "node_modules/bootstrap/scss/mixins/_breakpoints.scss";

// todo rework to native mixins https://medium.com/@adrjohnston/native-css-mixins-ee2a50e07b54

@mixin typo {
  p {
    font-size: var(--pobo-typo-p-font-size);
    font-weight: var(--pobo-typo-p-font-weight);
    color: var(--pobo-typo-p-font-color);
    line-height: var(--pobo-typo-p-line-height);
    padding: var(--pobo-typo-p-padding);
    margin: var(--pobo-typo-p-margin);

    strong,
    b {
      font-weight: var(--pobo-typo-p-strong-font-weight);
    }
  }

  table {
    padding: var(--pobo-typo-table-padding);
    margin: var(--pobo-typo-table-margin);
    border-collapse: var(--pobo-typo-table-border-collapse);
    border: var(--pobo-typo-table-border);
    background: var(--pobo-typo-table-bg);

    tr {
      border: var(--pobo-typo-table-tr-border-bottom);
    }

    td {
      padding: var(--pobo-typo-table-td-padding);
      margin: var(--pobo-typo-table-td-margin);
      border: var(--pobo-typo-table-td-border-bottom);
      background: var(--pobo-typo-table-td-bg);
    }
  }

  ul,
  ol {
    padding: var(--pobo-typo-list-padding);
    margin: var(--pobo-typo-list-margin);

    li {
      font-size: var(--pobo-typo-list-item-font-size);
      font-family: var(--pobo-typo-list-item-font-family);
      font-weight: var(--pobo-typo-list-item-font-weight);
      color: var(--pobo-typo-list-item-font-color);
      padding: var(--pobo-typo-list-item-padding);
      margin: var(--pobo-typo-list-item-margin);
    }
  }

  a:not(.btn, .rc-image-right-overlay__link, .rc-image-left-overlay__link) {
    color: var(--pobo-link-color);
    text-decoration: var(--pobo-link-text-decoration);
    transition: var(--pobo-link-transition);

    &:hover {
      text-decoration: var(--pobo-link-hover-text-decoration);
      color: var(--pobo-link-hover-color);
    }
  }


  h2:not(.rc-header-text__header) {
    font-size: var(--pobo-typo-h2-font-size);
    font-family: var(--pobo-typo-h2-font-family);
    line-height: var(--pobo-typo-h2-line-height);
    font-weight: var(--pobo-typo-h2-font-weight);
    color: var(--pobo-typo-h2-font-color);
    padding: var(--pobo-typo-h2-padding);
    margin: var(--pobo-typo-h2-margin);
    position: relative;
    z-index: 2;

    &:before {
      position: absolute;
      content: var(--pobo-typo-h2-before-content);
      bottom: var(--pobo-typo-h2-before-bottom);
      left: var(--pobo-typo-h2-before-left);
      width: var(--pobo-typo-h2-before-width);
      height: var(--pobo-typo-h2-before-height);
      background: var(--pobo-typo-h2-before-bg);
    }
  }

  h3 {
    font-size: var(--pobo-typo-h3-font-size);
    font-family: var(--pobo-typo-h3-font-family);
    line-height: var(--pobo-typo-h3-line-height);
    font-weight: var(--pobo-typo-h3-font-weight);
    color: var(--pobo-typo-h3-font-color);
    padding: var(--pobo-typo-h3-padding);
    margin: var(--pobo-typo-h3-margin);
    position: relative;

    &:before {
      position: absolute;
      content: var(--pobo-typo-h3-before-content);
      bottom: var(--pobo-typo-h3-before-bottom);
      left: var(--pobo-typo-h3-before-left);
      width: var(--pobo-typo-h3-before-width);
      height: var(--pobo-typo-h3-before-height);
      background: var(--pobo-typo-h3-before-bg);
    }
  }

  h4 {
    font-size: var(--pobo-typo-h4-font-size);
    font-family: var(--pobo-typo-h4-font-family);
    line-height: var(--pobo-typo-h4-line-height);
    font-weight: var(--pobo-typo-h4-font-weight);
    color: var(--pobo-typo-h4-font-color);
    padding: var(--pobo-typo-h4-padding);
    margin: var(--pobo-typo-h4-margin);
  }
}

#pobo-all-content {
  padding: var(--pobo-all-content-padding);
  margin: var(--pobo-all-content-margin);
  background: var(--pobo-all-content-background);
}